// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #FFFFFF !important;
}

/* Custom styles */

center {
  //max-width: 600px;
  //min-width: 400px;
  //margin: 0 auto;
}

table.container {
  max-width: $global-width;
}

.content {
  .columns {
    padding-left: 0 !important;
    padding-bottom: 0 !important;

    &.letter_img-col {
      padding-right: 0;
    }
  }
}

.h1-link {
  display: inline-block;
  margin-top: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  line-height: 40px;
  font-size: 18px;
  vertical-align: middle;
  letter-spacing: 3px;
  color: #A58E66;
}

.h2 {
  font-family: Roboto;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #37383C;
}

.h3 {
  font-size: 12px;
  font-weight: bold;
  color: #A58E66;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.p {
  font-family: Roboto;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 22px;
  font-size: 16px;
  color: #000000;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.price {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #A58E66;
  text-transform: uppercase;
}

.fs-14 {
  font-size: 14px;
  line-height: 16px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #E6E9EE;
  margin: 15px 0;
  padding: 0;
}

.hr-0 {
  margin: 0;
}

.hr-b {
  margin: 0 0 15px;
}

.columns.last.creds-col-right {
  padding-right: 0 !important;
  padding-left: 20px !important;
}

.point-row {
  height: 23px;
  line-height: 1;

  table {
    th {
      line-height: 1.1;
    }
  }
}

.divide-row {
  line-height: 1;

  table {
    th {
      line-height: 1;
    }
  }
}

.point-row-last {
  padding: 4px 0 0 0;
}
.point-cont {
  display: inline-block;
  text-align: left;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
}

.point-icon {
  display: inline-block;
  padding: 0;
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

.point-icon-blank{
  height: 12px;
}

.point-circle-cont {
  display: inline-block;
  text-align: center;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  vertical-align: middle;
}

.point-icon-circle {
  display: inline-block;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  padding: 0;
  vertical-align: middle;
}

.point-time {
  display: inline-block;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  vertical-align: middle;
  color: #A58E66;
  width: 45px;
  min-width: 45px;
  max-width: 45px;
  text-align: center;
}

.point-time-divide {
  display: inline-block;
  width: 1px;
  min-width: 1px;
  max-width: 1px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  line-height: 12px;
  vertical-align: middle;
}
.point-time-offset {
  display: inline-block;
  width: 5px;
  min-width: 5px;
  max-width: 5px;

}
.point-circle-offset {
  display: inline-block;
  width: 0px;
  min-width: 0px;
  max-width: 0px;
}
.point-time-offset-circle {
  display: inline-block;
  width: 4px;
  min-width: 4px;
  max-width: 4px;
}
.point-time-offset-main {
  display: inline-block;
  width: 3px;
  min-width: 3px;
  max-width: 3px;
}

.point-address {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: #000000;
}

.point-city {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #7e919f;
}

.client-icon {
  display: inline-block;
  width: 28px;
  height: 20px;
  padding: 0 0 0 4px;
}

.client-type {
  display: inline-block;
  vertical-align: top;
}

.details {
  .p {
    margin-bottom: 12px;
  }
}

.text-red {
  color: #ED593B;
}

body img.driver-rate-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0 0 0 3px;
}

.driver-container {
  span, img {
    vertical-align: middle;
  }
}

.driver-rate {
  display: inline-block;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #A58E66;
}

.driver-photo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.car-number {
  display: inline-block;
  padding: 0 3px 0 0;
}

.car-flag {
  display: inline-block;
  width: 16px;
  height: 13px;
  border: 1px solid #000000;
}

.car-region {
  display: inline-block;
  padding: 0 0 0 3px;
}

.support-btn-spacer {
  height: 10px;
  line-height: 10px;
}



.support-btn {
  width: 280px;
  height: 40px;
  display: inline-block;
  border-radius: 24px;
  background-color: #A58E66;
  box-shadow: 0 0 8px 0 rgba(165, 142, 102, 0.5);
  -webkit-text-size-adjust: none;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  white-space: normal;
  overflow: hidden;
  mso-hide: all;

  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.apps-btn-cont {

  .app-left {
    //padding: 20px 15px 0 0;
  }
  .app-right {
    //padding: 20px 0 0 15px;
  }
}
.app-divide {
  width: 4.33333%!important;
  max-width: 30px;
  min-width: 30px;
}

.app-column {
  width: 47.66667%!important;
}

.app-btn {
  display: inline-block;

}

.app-btn-apple {
  display: inline-block;
  width: 118px;
  height: 40px;
}

.app-btn-google {
  display: inline-block;
  width: 135px;
  height: 40px;
}

.footer-text {
  font-size: 12px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: #7e919f;
}

.container.content {
  border-radius: 5px;

  td {
    padding: 10px;
    padding: 0;
  }

  .spacer {
    td, th {
      padding: 0;
    }
  }
}

.container.footer {
  background-color: transparent;
}

a {
  font-size: 14px;
  line-height: 16px;
  color: #A58E66;

  &.link {
    word-wrap: break-word;
    word-break: break-word;
  }
}

.logo-icon {
  display: inline-block;
  width: 173px;
  height: 40px;
  line-height: 1;
}

.letter-img {
  display: inline-block;
  width: 100%;
}
